In [ ]:
# default_exp MCI_Project_Part01

In [ ]:
#hide
from nbdev.showdoc import *

### Import Library

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Read Data

In [ ]:
golden_data = pd.read_csv('DATA/golden.csv', parse_dates=True)

golden_data[:30]

,CurrentOpen,CurrentClose,CurrentAsk,Profit,closeReason,Action
0,1560.20,1559.95,1560.11,-0.72,closeByStopLossNonProfitable,buy
1,1560.20,1559.95,1560.11,-0.67,closeByStopLossNonProfitable,buy
2,1560.20,1559.95,1560.11,-0.70,closeByStopLossNonProfitable,buy
3,1560.20,1559.95,1560.11,-0.62,closeByStopLossNonProfitable,buy
4,1560.20,1559.95,1560.11,-0.60,closeByStopLossNonProfitable,buy
5,1560.20,1559.95,1560.11,-0.61,closeByStopLossNonProfitable,buy
6,1560.16,1559.97,1560.14,0.03,closeByStopLossProfitable,buy
7,1560.16,1559.97,1560.14,-0.03,closeByStopLossNonProfitable,buy
8,1560.16,1559.97,1560.14,-0.08,closeByStopLossNonProfitable,buy
9,1560.16,1559.97,1560.14,0.00,closeByStopLossNonProfitable,buy
10,1560.16,1559.97,1560.14,0.12,closeByStopLossProfitable,buy
11,1560.16,1559.97,1560.14,-0.03,closeByStopLossNonProfitable,buy
12,1560.16,1559.97,1560.14,-0.08,closeByStopLossNonProfitable,buy
13,1559.82,1559.97,1560.14,0.02,closeByStopLossProfitable,buy
14,1560.20,1559.97,1560.13,-0.25,closeByStopLossNonProfitable,buy
15,1560.20,1559.97,1560.13,-0.32,closeByStopLossNonProfitable,buy
16,1560.20,1559.97,1560.13,-0.41,closeByStopLossNonProfitable,buy
17,1559.63,1559.56,1559.71,-1.15,closeByStopLossNonProfitable,buy
18,1559.63,1559.57,1559.72,-1.13,closeByStopLossNonProfitable,buy
19,1559.63,1559.52,1559.67,-1.14,closeByStopLossNonProfitable,buy
20,1560.39,1560.48,1560.66,-1.06,closeByStopLossNonProfitable,sell
21,1559.69,1559.63,1559.78,-0.97,closeByStopLossNonProfitable,buy
22,1559.57,1559.12,1559.24,-0.63,closeByStopLossNonProfitable,buy
23,1559.57,1559.12,1559.24,-0.60,closeByStopLossNonProfitable,buy
24,1559.57,1559.12,1559.24,-0.75,closeByStopLossNonProfitable,buy
25,1559.57,1559.12,1559.24,-0.97,closeByStopLossNonProfitable,buy
26,1559.57,1559.12,1559.24,-0.81,closeByStopLossNonProfitable,buy
27,1559.57,1559.12,1559.24,-0.87,closeByStopLossNonProfitable,buy
28,1559.57,1559.12,1559.24,-0.75,closeByStopLossNonProfitable,buy
29,1559.57,1559.12,1559.24,-0.85,closeByStopLossNonProfitable,buy

In [ ]:
golden_data.columns

Index(['CurrentOpen', 'CurrentClose', 'CurrentAsk', 'Profit', 'closeReason',
       'Action'],
      dtype='object')

In [ ]:
golden_data['int_closeReason'] = int_closeReason

####  gaming with code :D

In [ ]:
int_closeReason = []

for i in range(len(golden_data['closeReason'])):
    
    if golden_data['closeReason'][i] == "closeByStopLossNonProfitable":
        
        int_closeReason.append(1)
        
    elif golden_data['closeReason'][i] == "closeByTakeProfit":
        
        int_closeReason.append(2)
        
    else:
        
        int_closeReason.append(3)

In [ ]:
golden_data['int_closeReason'] = int_closeReason

golden_data.head()

,CurrentOpen,CurrentClose,CurrentAsk,Profit,closeReason,Action,int_closeReason
0,1560.2,1559.95,1560.11,-0.72,closeByStopLossNonProfitable,buy,1
1,1560.2,1559.95,1560.11,-0.67,closeByStopLossNonProfitable,buy,1
2,1560.2,1559.95,1560.11,-0.70,closeByStopLossNonProfitable,buy,1
3,1560.2,1559.95,1560.11,-0.62,closeByStopLossNonProfitable,buy,1
4,1560.2,1559.95,1560.11,-0.60,closeByStopLossNonProfitable,buy,1

In [ ]:
# new_close = golden_datal[(golden_datal["closeReason"] == "closeByStopLossNonProfitable")]

In [ ]:
# import sweetviz as sv 

# my_repo = sv.analyze(golden_data)

# my_repo.show_notebook(layout='vertical', w=900, h=1000, scale=0.9)
# my_repo.show_html()

In [ ]:
# my_repo.show_notebook(layout='vertical', w=900, h=1000, scale=0.7)

In [ ]:
int_Action = []

for i in range(len(golden_data['Action'])):
    if golden_data['Action'][i] == "buy":
        
        int_Action.append(1)
        
    elif golden_data['Action'][i] == "sell":
        
        int_Action.append(2)
    
    elif golden_data['Action'][i] == "sellLimit":
        
        int_Action.append(3)
    
    else:
        
        int_Action.append(4)

In [ ]:
golden_data['int_Action'] = int_Action

In [ ]:
golden_data.head()

,CurrentOpen,CurrentClose,CurrentAsk,Profit,closeReason,Action,int_closeReason,int_Action
0,1560.2,1559.95,1560.11,-0.72,closeByStopLossNonProfitable,buy,1,1
1,1560.2,1559.95,1560.11,-0.67,closeByStopLossNonProfitable,buy,1,1
2,1560.2,1559.95,1560.11,-0.70,closeByStopLossNonProfitable,buy,1,1
3,1560.2,1559.95,1560.11,-0.62,closeByStopLossNonProfitable,buy,1,1
4,1560.2,1559.95,1560.11,-0.60,closeByStopLossNonProfitable,buy,1,1

In [ ]:
train_data = golden_data.drop(["closeReason", "Action"], axis=1)

In [ ]:
train_data[:5]

   CurrentOpen  CurrentClose  CurrentAsk  Profit  int_closeReason  int_Action
0       1560.2       1559.95     1560.11   -0.72                1           1
1       1560.2       1559.95     1560.11   -0.67                1           1
2       1560.2       1559.95     1560.11   -0.70                1           1
3       1560.2       1559.95     1560.11   -0.62                1           1
4       1560.2       1559.95     1560.11   -0.60                1           1

In [ ]:
# data_X = train_data.drop(["int_Action"], axis=1)
# data_Y = train_data.drop(["CurrentOpen", "CurrentTime", "CurrentClose", "int_closeReason"], axis=1)

In [ ]:
# data_X

In [ ]:
# data_Y

In [ ]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(data_X, data_Y, test_size=0.33, random_state=42)

In [ ]:
# X_train

In [ ]:
# comparison_report = sv.compare([X_train,'Train'], [X_test,'Test'])
# comparison_report.show_notebook(layout='vertical', w=1000, h=500, scale=0.9)

In [ ]:
##########

# setupPycaret = train_data.drop(["int_closeReason"], axis=1)

# setupPycaret

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34751 entries, 0 to 34750
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CurrentOpen      34751 non-null  float64
 1   CurrentClose     34751 non-null  float64
 2   CurrentAsk       34751 non-null  float64
 3   Profit           34751 non-null  float64
 4   int_closeReason  34751 non-null  int64
 5   int_Action       34751 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 1.6 MB

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(-1,1))

In [ ]:
m = ['CurrentOpen', 'CurrentClose', 'CurrentAsk']

In [ ]:
m = ['CurrentOpen', 'CurrentClose', 'CurrentAsk']

for i in range(3):

    cOpenNmpy = train_data[m[i]].to_numpy()
    cOpenScaler = scaler.fit_transform(cOpenNmpy.reshape(-1,1))

    train_data[m[i]] = cOpenScaler

train_data

,CurrentOpen,CurrentClose,CurrentAsk,Profit,int_closeReason,int_Action
0,-0.655495,-0.655276,-0.654868,-0.72,1,1
1,-0.655495,-0.655276,-0.654868,-0.67,1,1
2,-0.655495,-0.655276,-0.654868,-0.70,1,1
3,-0.655495,-0.655276,-0.654868,-0.62,1,1
4,-0.655495,-0.655276,-0.654868,-0.60,1,1
...,...,...,...,...,...,...
34746,0.179881,0.174955,0.174981,-2.52,1,2
34747,0.179881,0.175019,0.175046,-2.57,1,2
34748,0.180660,0.175889,0.176173,-5.43,1,2
34749,0.180660,0.175889,0.176173,-5.30,1,2
34750,0.180660,0.176082,0.176366,-5.31,1,2

In [ ]:
from pycaret.classification import *

s = setup(data = train_data, target = 'int_Action', train_size = 0.8, imputation_type='iterative', remove_multicollinearity = True, session_id=123)

# lr = create_model(0.001)

In [ ]:
best = compare_models()

In [ ]:
best = compare_models('et')

ValueError: Estimator e Not Available. Please see docstring for list of available estimators.

In [ ]:
evaluate_model(best)

                         Parameters
bootstrap                     False
ccp_alpha                       0.0
class_weight                   None
criterion                      gini
max_depth                      None
max_features                   auto
max_leaf_nodes                 None
max_samples                    None
min_impurity_decrease           0.0
min_impurity_split             None
min_samples_leaf                  1
min_samples_split                 2
min_weight_fraction_leaf        0.0
n_estimators                    100
n_jobs                           -1
oob_score                     False
random_state                    123
verbose                           0
warm_start                    False

In [ ]:
prediction = predict_model(best, data=train_data[:500])

prediction

,CurrentOpen,CurrentTime,CurrentClose,int_Action,int_closeReason,Label,Score
0,1560.20,1579516500,1559.95,1,1,1,0.0
1,1560.20,1579516500,1559.95,1,1,1,0.0
2,1560.20,1579516500,1559.95,1,1,1,0.0
3,1560.20,1579516500,1559.95,1,1,1,0.0
4,1560.20,1579516500,1559.95,1,1,1,0.0
...,...,...,...,...,...,...,...
495,1569.89,1580232600,1568.69,1,1,1,0.0
496,1569.89,1580232600,1568.59,1,1,1,0.0
497,1571.26,1580243940,1571.79,2,1,2,0.0
498,1569.59,1580245200,1569.01,1,1,1,0.0
499,1568.16,1580247360,1568.05,3,1,3,0.0