In [ ]:
# default_exp MCI_Project_Part01

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
golden_data = pd.read_csv('DATA/golden.csv')

golden_data.head()

   CurrentOpen  CurrentTime  CurrentClose                   closeReason Action
0       1560.2   1579516500       1559.95  closeByStopLossNonProfitable    buy
1       1560.2   1579516500       1559.95  closeByStopLossNonProfitable    buy
2       1560.2   1579516500       1559.95  closeByStopLossNonProfitable    buy
3       1560.2   1579516500       1559.95  closeByStopLossNonProfitable    buy
4       1560.2   1579516500       1559.95  closeByStopLossNonProfitable    buy